config USR_DRV_HASH
  bool  "Userspace HASH driver"
  default y
  ---help---
  Support for STM32F4 HASH hardware IP.
config USR_DRV_HASH_CFLAGS
  string
  default " -I../../drivers/socs/stm32f439/spi/api " if USR_DRV_HASH
